
# Ignore editor files
*.swp

# Ignore venv
bin
include
lib
share
pyvenv.cfg
__pycache__

# Ignore certs
*.pem
*.cer
*.key
*.req

# Ignore packaging stuff
*.egg-info
build
dist

# Ignore docs stuff
docs/_build
