include CHANGELOG.rst
include VERSION

# Include py.typed files
recursive-include src/stanford/mais/* py.typed

# Include docs, but not the build directory.
recursive-include docs *
recursive-exclude docs/_build *

# This script creates a test client key & cert, if you don't want to use the
# one built in to the tests.
include test_cert_create.sh

# This script updates the version number to a datetime-specific version, so you
# can push to Test PyPI without causion version conflicts.
include update-version-for-test-push.py

# Exclude macOS files
# (This must be at the end, to override any prior includes)
global-exclude .DS_Store
